header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

img {
  width: 10%;
}

a {
  padding: 10px;
}

h1 {
  color: white;
  font-size: 40px;
  padding: 0 140px;
  font-weight: bold;
}

p {
  color: black;
  font-size: 40px;
  padding: 0 140px;
  font-weight: bold;
}
